*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color:#1c2c6b;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #1c2c6b;
}
main {
    max-width: 900px;
    margin: 0 auto;
    padding: 40px;
}
h1 span{
    color: #ffffff;
}
h2 {
    color: #1c2c6b;
}
strong {
    color:#fb9304;
}
section {
    padding: 40px 20px;
}
.menu {
    color: #ffffff;
}
ul {
    display: flex;
    list-style: none;
    gap: 40px;
    margin: 0;
    padding: 10px 15px;
}
a {
    text-decoration: none;
}
ol {
    list-style: none;
}
.menu:hover {
    color: #fb9304;
}
h2 {
    text-align: center;
    margin-bottom: 30px;
}
.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 5px 10px;
}
input {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 100%;
}
input:focus {
    border-color: #1c2c6b;
    outline: none;
}
button {
    display: grid;
    justify-content: center;
    border: 1px;
    border-radius: 10px;
    padding: 10px;
    grid-template-columns: auto 1fr;
    justify-self: center;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #fb9304;
    color: #1c2c6b;
    font-weight: bold;
}
button:hover {
    color: #687286;
}
footer {
    text-align: center;
    padding: 30px;
    color: #6d7482;
}